<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="jumbotron">
                <h1 class="text-center display-3">Christopher Godswill Orji</h1>
                <hr>
                <p class="text-center" style="padding: 5px;">
                    Fullstack Developer . Python Enthusiast . Data Scientist . Project Manager . Civil Engineer
                </p>
                <p class="text-center" style="padding: 5px;">
                    Self motiviating and result oriented Fullstack Web Developer.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <!-- Row containing nav component -->
    <div class="row">
        <div class="col">
            <!-- Manipulate the elements below: -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a href="#" class="navbar-brand">
                    <img src="https://content.codecademy.com/courses/learn-bootstrap-components/logo.png"
                        alt="Gloria's Gardening Logo" height="30">
                </a>
                <!-- <a class="navbar-brand" href="#">Navbar w/ text</a> -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Curriculumn Vitae</a>
                        </li>
                    </ul>
                    <span class="navbar-text">
                        Navbar text with an inline element
                    </span>
                </div>
            </nav>
        </div>
    </div>
    <!-- End of row containing nav component -->
</div>